.hero {
	position: relative;
}

.hero__decor {
	position: absolute;
	bottom: -150px;
	right: 0;
	z-index: -1;

	@media (max-width: 576px) {
		bottom: -75px;
		height: 300px;
	}
}
.hero__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr auto;
	gap: var(--gap-xl);

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
	}
}
.hero__text {
	position: relative;
	padding: 118px 0 0 0;
}
.hero__title {
	margin: 0 0 18px 0;
	font-weight: 600;
	font-size: var(--fs-title);
	color: var(--text-clr-secondary);
	line-height: 1.26;
	text-transform: capitalize;
}
.hero__subtitle {
	margin: 0 0 3.75rem 0;
}
.hero__filter {
	position: absolute;
	bottom: 118px;
	height: 100px;
	width: 880px;
	background-color: var(--text-clr-secondary);

	@media (max-width: 992px) {
		width: 100%;
		position: static;
	}
}

.hero__img {
	@media (min-width: 768px) and (max-width: 992px) {
		display: none;
	}
}

.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 165px;
	color: #000;

	@media (max-width: 575px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
.filter__block {
	&:nth-child(2) {
		border-right: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
	}
}
.block-filter {
	position: relative;
}
.block-filter__btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 0 0 0 40px;
	cursor: pointer;
}
.block-filter__header {
	display: flex;
	align-items: center;
}
.block-filter__type {
	padding: 0 10px 0 0;
}
.block-filter__icon {
	width: 10px;
	height: 7px;
	background-image: url('./drop-down.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform 0.3s ease;

	&._active {
		transform: rotate(180deg);
	}
}
.block-filter__value {
	color: var(--bg-clr);
	font-weight: 600;
	font-size: var(--fs-md);
}
.block-filter__dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--text-clr-secondary);
	border-radius: 6px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease;

	&._active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transform: translateY(5px);
	}
}
.block-filter__item {
	padding: 10px;
	text-transform: capitalize;
	transition: background-color 0.2s ease;
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover {
			background-color: #adadad;
		}
	}
}
.filter__btn {
	padding: 5px;

	button {
		background-color: var(--accent-clr);
		height: 100%;
		width: 100%;
		border: none;
		color: var(--text-clr-secondary);
		cursor: pointer;
		padding: 10px;

		@media (any-hover: hover) {
			&:hover {
				background-color: #15786c;
			}
		}
	}
	@media (max-width: 576px) {
		grid-column: 1/4;
	}
}
