.reviews {
	padding: 0 0 clamp(3.75rem, 1.568rem + 10.91vw, 11.25rem);
	position: relative;
}
.reviews__decor {
	position: absolute;
	top: -500px;
	left: 0;
	z-index: -1;
}

.reviews__container {
	max-width: 1020px;
	margin-inline: auto;
	position: relative;
	padding-top: 195px;
}

.swiper-wrapper {
	align-items: flex-start;
}

.reviews__icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: clamp(12.5rem, 11.409rem + 5.45vw, 16.25rem);
	line-height: 1.47;
	text-transform: capitalize;
	color: var(--accent-clr);
}

.slider-reviews__slide {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

.slider-reviews__text {
	font-size: clamp(1.125rem, 0.87rem + 1.27vw, 2rem);
	line-height: 1.57;
	text-transform: capitalize;
	color: var(--text-clr-secondary);
	margin-bottom: 1.25rem;
}

.slider-reviews__author {
	display: flex;
	flex-direction: column;
}

.slider-reviews__author-name {
	font-weight: 600;
	font-size: 22px;
	line-height: 1.26;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	color: var(--text-clr-secondary);
}

.slider-reviews__author-desc {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	color: var(--text-clr-main);
}
.slider-button-next {
	transform: translateY(-6px) rotate(-180deg);
}

.slider-reviews__btns-wrapper {
	position: relative;
}
.slider-reviews__btns {
	display: flex;
	align-items: center;
	height: 60px;
	gap: 4.375rem;
	width: 115px;
	position: absolute;
	bottom: 0;
	right: 15px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 1px;
		background-color: #353f49;
	}
}

.slider-reviews__btn {
	&.swiper-button-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	svg {
		fill: #fff;
	}
}
